

.single_member.active:after{
		content: '';
		position: absolute;
		bottom: -50px;
		left: 0;
		right: 0;
		margin: auto;
		background-image: url(../images/top_triangle.png);
		width: 61px;
		height: 40px;
	}


	.navigation a{

		&.active{
		padding: 4px;
		background: @line_color1;
		background-clip: content-box;
		border-color: @line_color1;
		}
	}

.service, .portfolio_container,
.single_member_inner_container,
.stat_container>*,
.how_we_work .image_container,
.single_package>*,
.single_feature>*,
.about .text,
.about .image_container,
.how_we_work .text_container,
.call,
.content>.my_btn,
.top_post,
.single_post,
.tool~*,
.tool,
.member_details
{
.opacity(0);
.transition;

	&.animated{
	.opacity(1);
	}
}

// .single_member.active{

// 	&:after {
// 	.opacity(0);
// 	.transition;
// 	}

// 	&.animated:after {
// 	.opacity(1);
// 	}
// }


