

	.navbar.navbar-default{
	background-color: @color_white;
	border: none;
	.box-shadow(0px 0px 24px 0px rgba(0, 0, 0, 0.25));
	margin-bottom: 0;
	top: 0;
	position: sticky;
	}

	.logo{
	font-family: @logo_font;
	font-size: 35px;
	line-height: 35px;
	color: @logoTextColor;
	margin-top: 15px;
	margin-bottom: 25px;

		&:first-letter{
			color: #fc5f45;
		}

	}

	.main_meni{
	    padding-left: 29px;
	}

	.nav.navbar-nav{
	padding-top: 7px;
	text-align: right;
	}

	.home{
	background-image: url(../images/home_bg.png);
	text-align: center;
	padding-top: 75px;

		.content{
			float: none;
			margin: 0 auto;
		}

		h1{
			color: @color_white;
			padding-top:  86px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 47px;
			font-size: 76px;
			line-height: 83px;
			letter-spacing: 0;
		}

		.features{
			.clearfix;
			margin-top: 85px;
			margin-bottom: 3px;
			width: 88%;
			margin-left: auto;
			margin-right: auto;
		}

	}


	.about{

		&:before{
			display: none;
		}

		.row{
			.flex-display;
			.flex-wrap;
		}

		.col-lg-6{
			padding: 0 13px;
		}


		.image_container{

			.image_container_style;

			img{
				width: 100%;
			}
		}

		.text_container{
			.flex-display;
			.align-items;
			position: relative;
		}

		@text_w: 117.6%;

		.text{
		height: 78.4%;
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
		background-color: #fff;
		min-width: @text_w;
		left: 100% - @text_w;
		position: relative;
		z-index: 2;
		padding: 93px 84px  90px;
		text-align: left;

			&:before {
			content: '01';
			.page_number;
			left: 0;
			transform-origin: top left; 
			}

			.decor_line {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 3px;
				.clearfix;
			}

			.decor_line>div{
				float: left;
				width: 25%;
				height: 100%;
			}

			.line{

				&1{
				  background-color:@line_color1;
				}

				&2{
					background-color: @line_color2;
				}

				&3{
					background-color: @line_color3;
				}

				&4{
					background-color: @line_color4;
				}
			}
		}

		h2{
			margin-bottom: 41px;
			font-size: 59px;
			-moz-transform: matrix( 1.00030539409037,0,0,1.0002442002442,0,0);
			-webkit-transform: matrix( 1.00030539409037,0,0,1.0002442002442,0,0);
			-ms-transform: matrix( 1.00030539409037,0,0,1.0002442002442,0,0);
			transform: matrix( 1.00030539409037,0,0,1.0002442002442,0,0);
			letter-spacing: 0.6px;
		}

		p{
			font-size: 15px;
			line-height: 27px;
			margin-bottom: 26px;
		}
	}

	.services{

		h2{
		line-height: 41px;
		font-size: 59px;
		}

		.our_services{
			.clearfix;
			.flex-display();
			.flex-wrap();
		}

	}


	.video-bg{
		background-image: url(../images/video_bg.png);
		text-align: center;

		.description{
		line-height: 23px;
		letter-spacing: 1.2px;
		}

		.description,
		p{
			color: @color_white;
		}

		.icon_video{
		width: 80px;
		height: 80px;
		.borderRadius(50%);
		background-image: url(../images/video_icon.png);
		margin: 40px auto 41px;
		cursor: pointer;
		.transition;

		&:hover{
			.my_trasform(rotate(90deg));
		}
		}

		p{
			line-height: 15px;
			margin-bottom: 1px;
		}
	}

	.portfolio{
		text-align: center;

		h2{
			font-size: 61px;
			margin-bottom: 3px;
		}

		.container .row .col-lg-12>h2{
			line-height: 38px;
		}

		article& .col-lg-12 h2+p{
			    margin-bottom: 40px;
		}

		.portfolio_items{
			.clearfix;
			margin: -1px 0px -18px;
			padding: 0px  4px 0px; 
		}
	}

	.team{

		h2{
			-moz-transform: matrix( 1.00070473061229,0,0,1.00247715936006,0,0);
			-webkit-transform: matrix( 1.00070473061229,0,0,1.00247715936006,0,0);
			-ms-transform: matrix( 1.00070473061229,0,0,1.00247715936006,0,0);
			transform: matrix( 1.00070473061229,0,0,1.00247715936006,0,0);
			letter-spacing: 1px;
			margin-bottom: 2px;
			font-size: 57px;
			line-height: 37px;
		}

		.team_memebrs {
			padding-top: 4px;
		    margin-bottom: -4px;
		}

	}

	.stats{
		background-image: url(../images/stats_bg.png);
		padding-bottom: 127px;
	}

	.how_we_work{

		.container>.row:nth-child(1){
			margin-bottom: 49px;
		}
	}

	.pricing{

		.h2 {
			-moz-transform: matrix( 1.00070473061229,0,0,1.00140908610505,0,0);
			-webkit-transform: matrix( 1.00070473061229,0,0,1.00140908610505,0,0);
			-ms-transform: matrix( 1.00070473061229,0,0,1.00140908610505,0,0);
			transform: matrix( 1.00070473061229,0,0,1.00140908610505,0,0);
		}

	}



	.testimonials{
		background-image: url(../images/testimonials_bg.png);

		h2,
		h2+p{
		color: @color_white;
		}

		h2{
			margin-top: -8px;
			-moz-transform: matrix( 1.00070473061229,0,0,0.99718967712043,0,0);
			-webkit-transform: matrix( 1.00070473061229,0,0,0.99718967712043,0,0);
			-ms-transform: matrix( 1.00070473061229,0,0,0.99718967712043,0,0);
			transform: matrix( 1.00070473061229,0,0,0.99718967712043,0,0);
			letter-spacing: 1.6px;
		}

		h2+p{
			margin-bottom: 45px;
		}

		.feedbacks_container{
			.base_effect_block;
			padding-top: 4px;
		}

		.navigation{
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	.why_choose_us{

		h2{
			-moz-transform: matrix( 1.00070473061229,0,0,1.00140908610505,0,0);
			-webkit-transform: matrix( 1.00070473061229,0,0,1.00140908610505,0,0);
			-ms-transform: matrix( 1.00070473061229,0,0,1.00140908610505,0,0);
			transform: matrix( 1.00070473061229,0,0,1.00140908610505,0,0);
			letter-spacing: 1px;
			word-wrap: 9px;
			word-spacing: -7px;
			padding-left: 13px;
		}

		.features{
			.flex-wrap();
			.flex-wrap();
		}

		.pre_button_text{
			display: inline-block;
			font-size: 25px;
		}

		.button{
			color: @color_white;
			background-color: @btn_bg;
			.base_button;
			border: 2px solid @btn_bg;
			display: inline-block;
			padding: 14px 34px;
			.borderRadius(34px);
		}

		.call{
			margin-top: 78px;
			.flex-display();
			.align-items();
			justify-content: center;

		}

		.call>*{
			margin: 0 16px;

			&.button{
				margin-left: 6px;
			}
		}
	}

	.blog{

		h2{
		    line-height: 37px;
		    margin-bottom: 4px;
		}

		h2+p{
			padding-bottom: 2px;
		}

		.image_container{
			.image_gray_container_style;

			.details{
				position: absolute;
				left: 0;
				width: 100%;
				top: 89%;
				padding-left: 9%;
				z-index: 3;
			}

			date{
				padding-left: 16px;
				line-height: 15px;
			}
		}
	}


	.subscription{
		background-color: @color_white;

		&:after{
			display: none;
		}

		h4{
			letter-spacing: 1.5px;
			line-height: 24px;
			margin-bottom: 53px;
		}

		.button{
			.base_button;
			padding: 14px;
			border-color: @btn_bg;
			background-color: @btn_bg;
			color: @color_white;
		}

	form{
		width: 480px;
		.flex-display();
		margin: 0 auto;
	    margin-bottom: -2px;

	    &>*{
	    	.transition;
	    }
	}



	@input_w:  62.5%;
	@button_w: 100% - 62.5%;
	@hover_w: 10%;
	@hover_input_w: @input_w - @hover_w;
	@hover_button_w: @button_w + @hover_w;

	.button{
		box-shadow: none;
		outline: 0;
		width: @button_w;
	    border-radius: 0px 29px 29px 0;

	    &:hover{
			background-color: darken(@btn_bg, 10%);
		}
	}

		[type="email"]{
			background-color: @bg_color_2;
			border: 2px solid #efefef;
			border-right: 0;
			width: @input_w;
			.box-sizing(border-box);
			border-radius:  29px 0  0 29px ;
			padding-left: 28px;
			letter-spacing: 1px;
			

			&:hover,
			&:focus{
				border-color: @btn_bg;
			}

			&:focus{
				outline: none;
				width: @hover_input_w;
			}

			&:focus + .button{
				width: @hover_button_w;
			}
		}

	}


	.contact{
		background-color: #ccc;

		.main_container > article&{
			padding-bottom: 126px;
		}

		h2{
			margin-top: -3px;
		}

		.form{
			margin-top: 3px;
		}

		.button_container{
			text-align: center;
			padding-top: 27px;
		}
	}

	.footer{
		    margin-top: 124px;
		    padding: 0 15px;
		    .flex-wrap();
		    .flex-display();


		    .soc_icon{
	    	    margin-top: 38px;
		    }
		
	}

	.media_min(1280, {

		.home h1{
		padding-top: 49px;
		font-size: 50px;
		}
	});

	.media_min(1199, {

		.home h1{
		padding-top: 20px;
		}

		.about{

			.col-lg-6{
			padding-left: 15px;
			padding-right: 15px;
			}

			.text{
			min-width: 100%;
			height: auto;
			left: 0;
			margin-top: 20px;
			}


		} 

	});

	.media_min(992, {

		.logo{
			text-align: center;
			margin-bottom: 4px;
		}

		.main_meni{
			padding-left: 15px;
		}

		.home h1{
			font-size: 42px;
			line-height: 50px;
		}

		.home .features{
			margin-top: 63px;
		}

		});

	.media_min(768, {

		.home .features{
			width: 100%;
		}

		.about{

			h2{
				font-size: 38px;
			}

			.text {
				text-align: center;

				&:before{
					left:0;
					right: 0;
					transform-origin: top center;
				}
			}


		} 

	});

	.media_min(767,{

		.navbar.navbar-default{
			// position: static;
			margin-bottom: 0;
		}

		.logo{
			margin-bottom: 0;
			margin-top: 1px;
			text-align: left;
		}

	});



	